<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <style>
    .title {
      font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

	/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
		background-image: url("static\\images\\background.jpg");
		background-color: #cccccc;
	}

    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
		z-index: 1;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }
  </style>
</head>


<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </div>


  <div class="container" style="margin-top: 25px;margin-bottom: 25px;">
    <div class="row">
      <div class="col-sm-3"
        style="border-top: 1px solid #000;border-left: 1px solid #000;border-bottom: 1px solid #000;">
        <div id="ObjectAndAccounts"></div>
      </div>
      <div class="col-sm-4"
        style="border-top: 1px solid #000;border-right: 1px solid #000;border-bottom: 1px solid #000;">
        <div id="ObjectAndAccountsLicense"></div>
      </div>
      <div class="col-sm-3" style="border-top: 1px solid #000;border-bottom: 1px solid #000;">
        <div id="PassRetrivedLast7Days"></div>
      </div>
	  <div class="col-sm-2" style="border-top: 1px solid #000;border-right: 1px solid #000;border-bottom: 1px solid #000;">
        <div id="PassRetrivedLastTotal"></div>
      </div>
    </div>
	
	<div class="row">
	   <div class="col-sm-9"
        style="border-left: 1px solid #000;border-right: 1px solid #000;border-bottom: 1px solid #000;">
        <div id="WindowsAndDomainAdmin"></div>
      </div>
      <div class="col-sm-3"
        style="border-right: 1px solid #000;border-bottom: 1px solid #000;height: 306.6px;">
        </br>
        <h4>Supplemental Metrics</h4>
        </br>
        <h4>Incidents >30 Days = <span style="color: #00a2e8;">10</span></h4>
        <h4>SNOW MTTR=</h4>
        <h4><span style="color: #00a2e8;">1 Day 14 Hours 44 Min(YTD)</span></h4>
        </br>
        <h4>Cycle Time:<span style="color: #00a2e8;"> 10.73</span></h4>
      </div>	
	</div>

    <div class="row">
      <div class="col-sm-4" style="border-left: 1px solid #000;border-right: 1px solid #000;border-bottom: 1px solid #000;">
        <div id="RequestTimeAverages"></div>
      </div>
      <div class="col-sm-3" style="border-right: 1px solid #000;border-bottom: 1px solid #000;">
        <div id="RequestTicketsAverages"></div>
      </div>
      <div class="col-sm-4" style="border-bottom: 1px solid #000;">
        <div id="p1p2"></div>
      </div>
      <div class="col-sm-1" style="border-right: 1px solid #000;border-bottom: 1px solid #000;height: 306.6px;">
        </br></br>
        <h4 style="color: #00a2e8;">Caused</h4>
        <h4 style="color: #00a2e8;">By</h4>
        <h4 style="color: #00a2e8;">CyberArk</h4>
        <h4>P1:</h4>
        <h4>0</h4>
        </br>
        <h4>P2:</h4>
        <h4>0</h4>
      </div>
    </div>

  </div>

    <div class="fixed-footer">
        <div class="container">Copyright &copy; 2016 Your Company</div>        
    </div>
  <script type="text/javascript" src="static/js/d3.v3.min.js"></script>

  <script>
    function BulidBarchart(data, divId, header, width, height, color) {

      var margin = { top: 50, right: 50, bottom: 50, left: 50 },
        width = width - margin.left - margin.right,
        height = height - margin.top - margin.bottom;


      var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .5, .3);

      var y = d3.scale.linear()
        .range([height, 0]);

      var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

      var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(8);

      var svg = d3.select("#" + divId).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      x.domain(data.map(function (d) { return d.name; }));
      y.domain([0, d3.max(data, function (d) { return d.value; })]);

      svg.append("text")
        .attr("class", "title")
        .attr("x", x(data[0].name))
        .attr("y", -26)
        .text(header);
		
      svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .selectAll(".tick text")
        .call(wrap, x.rangeBand());

      svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

      svg.selectAll(".bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function (d) {

          return x(d.name);
        })
        .attr("width", x.rangeBand())
        .attr("y", function (d) {

          return y(d.value);
        })
        .attr("height", function (d) { return height - y(d.value); })
        .attr("fill", function (d, i) { if (i % 2) { return color[1]; } else { return color[0]; } })
        ;

      // Controls the text labels at the top of each bar. Partially repeated in the resize() function below for responsiveness.
      svg.selectAll(".text")
        .data(data)
        .enter()
        .append("text")
        .attr("class", "label")
        .attr("x", (function (d) { return x(d.name) + x.rangeBand() / 4; }))
        .attr("y", function (d) { return y(d.value) + 1; })
        .attr("dy", "-.75em")
        .text(function (d) { if(isFloat(d.value)){ return d3.format('.2f')(d.value); }else{return d.value;} })
      if (divId == "WindowsAndDomainAdmin") {
        
        svg.selectAll(".text")
          .data(data)
          .enter()
          .append("text")
          .attr("class", "percentages")
          .attr("text-anchor", "middle")
          .attr("x", (function (d) { return x(d.name) + x.rangeBand() / 2; }))
          .attr("y", function (d) { return y(d.value) - 15; })
          .attr("dy", "-.75em")
          .text(function (d,i) {if (i % 2) {  return d3.format(".2s")(d.percentages*100)+"%";} else { return ""; } });
      }
	  function isFloat(n){
			return Number(n) === n && n % 1 !== 0;
	  }
      function wrap(text, width) {
        text.each(function () {
          var text = d3.select(this),
            words = text.text().split(/\s+/).reverse(),
            word,
            line = [],
            lineNumber = 0,
            lineHeight = 1.1, // ems
            y = text.attr("y"),
            dy = parseFloat(text.attr("dy")),
            tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
          while (word = words.pop()) {
            line.push(word);
            tspan.text(line.join(" "));
            if (tspan.node().getComputedTextLength() > width) {
              line.pop();
              tspan.text(line.join(" "));
              line = [word];
              tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
            }
          }
        });
      }

      function type(d) {
        d.value = +d.value;
        return d;
      }
    }

    var license = [{ "name": "# Licenses", "value": 2200 }, { "name": "Licensed", "value": 2135 }, { "name": "#People who have access to Vault", "value": 4120 }, { "name": "# Sales", "value": 3540 }];
    var p1p2 = [{ "name": "P1's Last 18 Months", "value": 2 }, { "name": "P1's Last 30 Days", "value": 0 }, { "name": "P2's Last 18 Months", "value": 1 }, { "name": "P2's Last 30 Days", "value": 0 }];

    var two_color = ['#0693f7', '#d2fb30'] //blue, gray
    var one_color = ['#0693f7', '#0693f7'] // blue , blue

    var ObjectAndAccounts = {{ ObjectAndAccounts| safe }};
    var LicenseAndSales = {{ LicenseAndSales| safe }};
    var WindowsAndDomainAdmin = {{ WindowsAndDomainAdmin| safe }};
    var RequestTimeAverages = {{ RequestTimeAverage| safe }};
    var RequestTicketsAverages = {{ RequestTicketAverage| safe }};
    var passRetrivedAllvalues = {{ passRetrivedAllvalues| safe }};
    var passRetrivedTotal = {{ passRetrivedTotal| safe }};

    BulidBarchart(ObjectAndAccounts, "ObjectAndAccounts", "Object & Accounts", 300, 300, two_color)
    BulidBarchart(LicenseAndSales, "ObjectAndAccountsLicense", " ", 400, 300, two_color)
	
	BulidBarchart(passRetrivedAllvalues, "PassRetrivedLast7Days", "Pass Retrived Last 7 Days", 340, 300,one_color)
    BulidBarchart(passRetrivedTotal, "PassRetrivedLastTotal", "", 200, 300,one_color)

    BulidBarchart(WindowsAndDomainAdmin, "WindowsAndDomainAdmin", "Windows & Domain Admin", 900, 300, two_color)



    BulidBarchart(RequestTimeAverages, "RequestTimeAverages", "Request Time Averages", 370, 300,one_color)
    BulidBarchart(RequestTicketsAverages, "RequestTicketsAverages", "Request Tickets Averages", 300, 300,one_color)

    BulidBarchart(p1p2, "p1p2", "P1's & P2's", 420, 300,one_color)


  </script>

</body>

</html>